<div class="col-md-12 customRow">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row margin-top-20">
                <div class="col-lg-offset-3 col-lg-2 col-sm-4">
                    <span class="bOrchid  quick-button-home text-center padding-top-20 white">
                      <a [routerLink]="['/admin/page']"  class="white"><i class="fa fa-cogs fa-4x"></i></a>  
                    </span>
                    <div class="text-center padding-top-10">
                      <a [routerLink]="['/admin/page']" routerLinkActive="router-link-active" >الإعدادات</a>  
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <span class="bdarkGray  quick-button-home text-center padding-top-20 white">
                        <i class="fa fa-database fa-4x"></i>
                    </span>
                    <div class="text-center padding-top-10">
                        المخازن
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <span class="bsky  quick-button-home text-center padding-top-20 white">
                        <i class="fa fa-users fa-4x"></i>
                    </span>
                    <div class="text-center padding-top-10">
                        الموارد البشرية
                    </div>
                </div>
            </div>
            <div class="row margin-top-20">
                <div class="col-lg-offset-4 col-lg-2 col-sm-4">
                    <span class="bBlueBayoux  quick-button-home text-center padding-top-20 white">
                        <a routerLink="/student-affairs/student" class="white">  <i class="fa fa-users fa-4x"></i></a>
                    </span>
                    <div class="text-center padding-top-10">
                      <a routerLink="/student-affairs/student">شئون الطلبة</a>  
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <span class="bSmoky  quick-button-home text-center padding-top-20 white">
                        <a routerLink="/accounting/dashboard" class="white">
                            <i class="fa fa-calculator fa-4x"></i>
                        </a>
                    </span>
                    <div class="text-center padding-top-10">
                        <a routerLink="/accounting/dashboard"> الحسابات العامة </a>
                    </div>
                </div>
                <!-- <div class="col-lg-2 col-sm-4">
                    <span class="bDingley  quick-button-home text-center padding-top-20 white">
                        <i class="fa fa-cogs fa-4x"></i>
                    </span>
                    <div class="text-center padding-top-10">
                        {{'shared.settings'|translate}}
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>